<a href="https://colab.research.google.com/github/tgiangregorio/Medical_Genomics/blob/main/ROH.statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ROH** calling with Audacity from WES of inbred and outbred proband
Loading Audacity output

In [ ]:
install.packages("ggpubr")
library(dplyr)
library(ggplot2)
library(ggpubr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘matrixStats’, ‘RcppArmadillo’, ‘numDeriv’, ‘SparseM’, ‘MatrixModels’, ‘conquer’, ‘sp’, ‘openxlsx’, ‘minqa’, ‘nloptr’, ‘statmod’, ‘RcppEigen’, ‘carData’, ‘abind’, ‘pbkrtest’, ‘quantreg’, ‘maptools’, ‘rio’, ‘lme4’, ‘corrplot’, ‘car’, ‘ggrepel’, ‘ggsci’, ‘cowplot’, ‘ggsignif’, ‘gridExtra’, ‘polynom’, ‘rstatix’


Warning message in install.packages("ggpubr"):
“installation of package ‘RcppEigen’ had non-zero exit status”
Warning message in install.packages("ggpubr"):
“installation of package ‘ggrepel’ had non-zero exit status”
Warning message in install.packages("ggpubr"):
“installation of package ‘ggsci’ had non-zero exit status”

In [5]:
AudacityROHResult<-read.delim("https://raw.githubusercontent.com/tgiangregorio/Medical_Genomics/main/AudacityROHresults.txt", sep="\t", header=TRUE, na.strings = "NA", stringsAsFactors = T)
head(AudacityROHResult)

  ID  Chrom Start     End       Length n_Hom_R n_Hom_A n_Het Score
1 I01 chr2   27245011  27746394 501383 993     26      5      4.2251317
2 I01 chr2   96930843  97039158 108315 212     12      0      9.0521127
3 I01 chr10  96256984  97082649 825665 284     22      1     13.1372629
4 I01 chr2   95537245  96517570 980325 318      8      2      0.1589894
5 I01 chr16  70285001  70930069 645068 715     13      3      6.7389611
6 I01 chr2  220032814 220252583 219769 497     30      1      5.5739814
  Status
1 consanguineous
2 consanguineous
3 consanguineous
4 consanguineous
5 consanguineous
6 consanguineous

In [17]:
summary(AudacityROHResult)

       ID           Chrom          Start                End
 I14    : 235   chr1   : 426   Min.   :    41509   Min.   :   196447
 I11    : 233   chr2   : 349   1st Qu.: 33641250   1st Qu.: 34925543
 I12    : 230   chr19  : 289   Median : 60468254   Median : 61323668
 I17    : 228   chr11  : 271   Mean   : 74684827   Mean   : 75913772
 I16    : 226   chr3   : 248   3rd Qu.:109335977   3rd Qu.:110874514
 I07    : 223   chr12  : 209   Max.   :249106111   Max.   :249212633
 (Other):2662   (Other):2245
     Length            n_Hom_R           n_Hom_A           n_Het
 Min.   :     374   Min.   :   21.0   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  310707   1st Qu.:  230.0   1st Qu.:  6.00   1st Qu.: 0.000
 Median :  572945   Median :  334.0   Median : 13.00   Median : 1.000
 Mean   : 1228945   Mean   :  494.6   Mean   : 21.53   Mean   : 1.547
 3rd Qu.: 1122195   3rd Qu.:  518.0   3rd Qu.: 24.00   3rd Qu.: 2.000
 Max.   :31555008   Max.   :10322.0   Max.   :509.00   Max.   :21.000

     Score                        Status
 Min.   :  0.000   consanguineous    :1836
 1st Qu.:  1.879   non-consanguineous:2201
 Median :  4.888
 Mean   : 12.170
 3rd Qu.: 11.122
 Max.   :430.579

In [10]:
str(AudacityROHResult)

'data.frame':	4037 obs. of  10 variables:
 $ ID     : Factor w/ 20 levels "I01","I02","I03",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Chrom  : Factor w/ 22 levels "chr1","chr10",..: 12 12 2 12 8 12 3 3 16 2 ...
 $ Start  : int  27245011 96930843 96256984 95537245 70285001 220032814 71595703 7949192 4669380 81316888 ...
 $ End    : int  27746394 97039158 97082649 96517570 70930069 220252583 71850960 8246181 5257570 82403836 ...
 $ Length : int  501383 108315 825665 980325 645068 219769 255257 296989 588190 1086948 ...
 $ n_Hom_R: int  993 212 284 318 715 497 248 193 285 421 ...
 $ n_Hom_A: int  26 12 22 8 13 30 10 13 8 33 ...
 $ n_Het  : int  5 0 1 2 3 1 0 0 1 2 ...
 $ Score  : num  4.225 9.052 13.137 0.159 6.739 ...
 $ Status : Factor w/ 2 levels "consanguineous",..: 1 1 1 1 1 1 1 1 1 1 ...

In [15]:
ROHSummary<- AudacityROHResult %>% 
  group_by(ID,  Status) %>% 
  summarize(ScoreROH=sum(Score),sROH=sum(Length),nROH=n())

ROHSummary

`summarise()` has grouped output by 'ID'. You can override using the `.groups` argument.

   ID  Status             ScoreROH sROH      nROH
1  I01 consanguineous     2049.126 204795717 184
2  I02 consanguineous     2176.878 250324026 183
3  I03 consanguineous     4412.579 302063354 152
4  I04 consanguineous     3004.416 298256424 201
5  I05 consanguineous     3996.517 413926132 172
6  I06 consanguineous     3935.773 371698619 203
7  I07 consanguineous     3501.694 341934112 223
8  I08 consanguineous     3994.593 384085682 183
9  I09 consanguineous     1626.344 178406590 158
10 I10 consanguineous     5435.481 519911564 177
11 I11 non-consanguineous 1533.468 162141328 233
12 I12 non-consanguineous 1529.354 173891676 230
13 I13 non-consanguineous 1225.270 144208127 174
14 I14 non-consanguineous 1555.008 170784372 235
15 I15 non-consanguineous 1492.130 168188498 221
16 I16 non-consanguineous 1465.781 177131989 226
17 I17 non-consanguineous 1677.652 174434311 228
18 I18 non-consanguineous 1604.411 180622723 222
19 I19 non-consanguineous 1503.033 184186167 216
20 I20 non-consanguineous 1409.939 160261395 216

In [22]:
ROHSummary_1.5Mb<- AudacityROHResult %>% 
  filter(Length>1500000) %>% 
  group_by(ID,  Status) %>% 
  summarize(ScoreROH=sum(Score),sROH=sum(Length),nROH=n())

  ROHSummary_1.5Mb

`summarise()` has grouped output by 'ID'. You can override using the `.groups` argument.

   ID  Status             ScoreROH  sROH      nROH
1  I01 consanguineous      959.7029 115173982 36
2  I02 consanguineous     1277.3736 176948904 40
3  I03 consanguineous     3267.9328 242769024 38
4  I04 consanguineous     1744.6342 206046124 40
5  I05 consanguineous     2945.2749 341612047 63
6  I06 consanguineous     2782.9252 288095117 66
7  I07 consanguineous     2007.9762 244375629 51
8  I08 consanguineous     2328.1807 306723454 60
9  I09 consanguineous      725.1928 106509219 23
10 I10 consanguineous     4659.9662 459815347 68
11 I11 non-consanguineous  308.5072  54182911 20
12 I12 non-consanguineous  150.4192  73044947 29
13 I13 non-consanguineous  156.3976  61314377 21
14 I14 non-consanguineous  265.5916  71104188 28
15 I15 non-consanguineous  341.7955  78056869 30
16 I16 non-consanguineous  162.2941  72718462 29
17 I17 non-consanguineous  304.7005  66045779 27
18 I18 non-consanguineous  204.3652  75829675 23
19 I19 non-consanguineous  160.1466  77677543 26
20 I20 non-consanguineous  124.7171  58448462 24

In [23]:
#summary(ROHSummary_1.5Mb)

       ID                    Status      ScoreROH           sROH
 I01    : 1   consanguineous    :10   Min.   : 124.7   Min.   : 54182911
 I02    : 1   non-consanguineous:10   1st Qu.: 193.8   1st Qu.: 72314894
 I03    : 1                           Median : 533.5   Median : 92283044
 I04    : 1                           Mean   :1243.9   Mean   :158824603
 I05    : 1                           3rd Qu.:2088.0   3rd Qu.:243170675
 I06    : 1                           Max.   :4660.0   Max.   :459815347
 (Other):14
      nROH
 Min.   :20.00
 1st Qu.:25.50
 Median :29.50
 Mean   :37.10
 3rd Qu.:42.75
 Max.   :68.00

In [ ]:
a<-ggplot(ROHSummary, aes(x=Status,y=sROH, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1) + ggtitle("SROHS")
e<-ggplot(ROHSummary_1.5Mb, aes(x=Status,y=sROH, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1) + ggtitle("SROHS")


b<-ggplot(ROHSummary, aes(x=Status,y= ScoreROH, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1, fill="white") 
c<-ggplot(ROHSummary, aes(x=Status,y= nROHs, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1, fill="white")
d<-ggplot(ROHSummary, aes(x = sROH, y = nROH)) + geom_point(aes(colour = factor(Status)))

f<-ggplot(ROHSummary_1.5Mb, aes(x=Status,y= ScoreROH, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1, fill="white") 
g<-ggplot(ROHSummary_1.5Mb, aes(x=Status,y= nROHs, fill=Status)) + geom_violin(trim = FALSE) + geom_boxplot(width=0.1, fill="white")
h<-ggplot(ROHSummary_1.5Mb, aes(x = sROH, y = nROH)) + geom_point(aes(colour = factor(Status)))